*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(253, 247, 247)35);
}
.container{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
    background-color: darkgray;
    
}
.box-principium{
    height: 100vh;

}
.card{
    background-color: rgb(31, 30, 30);
    height:350px;
    width: 250px;
    border: black solid 2px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    padding: 15px;
    margin: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}
.card img{
    height: 150px;
    width: 150px;
    border-radius: 150px;
    border: solid rgb(255, 9, 193) 5px;	
    margin-top: 10px;
}
button{
    background-color: rgb(0, 153, 255);
    height: 30px;
    width: 180px;
    border-radius: 20px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

